/* 重置、默认 */

$color-blue: #3399ff;
$color-red: #da0126;
$color-green: #42bd56;
$color-yellow: #ff9900;

* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
html {
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #333;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea,
input {
  padding: 0;
  outline: none;
  border: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

textarea {
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #bfbfbf;
}

input {
  -webkit-tap-highlight-color: transparent;
}

input:focus {
  -webkit-tap-highlight-color: transparent;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.xa-cell {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}

.xa-view {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.xa-txt-10 {
  font-size: 10px !important;
}

.xa-txt-12 {
  font-size: 12px !important;
}

.xa-txt-13 {
  font-size: 13px !important;
}

.xa-txt-14 {
  font-size: 14px !important;
}

.xa-txt-16 {
  font-size: 16px !important;
}

.xa-txt-18 {
  font-size: 18px !important;
}

.xa-txt-20 {
  font-size: 20px !important;
}

.xa-txt-24 {
  font-size: 24px !important;
}

.xa-txt-32 {
  font-size: 32px !important;
}

.xa-txt-bold {
  font-weight: 700;
}

.xa-txt-white {
  color: #fff;
}

.xa-txt-center {
  text-align: center;
}

.xa-txt-right {
  text-align: end;
  text-align: right;
}

.xa-txt-nowrap {
  white-space: nowrap;
}

.xa-bg-white {
  background: #fff;
}

.xa-bg-33 {
  background-color: #333;
}

.xa-bg-99 {
  background-color: #999;
}

.xa-bg-f2 {
  background-color: #f2f2f2;
}

.xa-bg-f6 {
  background-color: #f6f6f9;
}

.xa-bg-e5 {
  background-color: #e5e5e5;
}

.xa-bg-green {
  background-color: $color-green;
}

.xa-bg-red {
  background-color: $color-red;
}

.xa-txt-green {
  color: $color-green !important;
}

.xa-txt-yellow {
  color: $color-yellow !important;
}

.xa-txt-red {
  color: $color-red;
}

.xa-txt-blue {
  color: $color-blue;
}

.xa-txt-white {
  color: #fff;
}

.xa-txt-000 {
  color: #000;
}

.xa-txt-333 {
  color: #333;
}

.xa-txt-bf {
  color: #bfbfbf;
}

.xa-txt-666 {
  color: #666;
}

.xa-txt-888 {
  color: #888;
}

.xa-txt-999 {
  color: #999;
}

.xa-txt-ccc {
  color: #ccc;
}

.xa-txt-1d {
  color: #1d1d1d;
}

.xa-txt--nowrap {
  word-break: break-all;
  white-space: nowrap;
}

.xa-txt--wrap {
  word-wrap: break-word;
}

.xa-txt-ellipsis,
.xa-txt-ellipsis-2 {
  min-width: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.xa-txt-ellipsis-2 {
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  word-break: break-all;
}

.xa-container {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.hidden-scroll {
  overflow-y: hidden !important;
}

body.hidden-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.xa-flex {
  flex: 1;
}

.xa-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.xa-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.xa-dialog {
  position: fixed;
  z-index: 5000;
  width: 80%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}

/* 元件 */

/* 一个转圈圈的loading */

.xa-isloading {
  position: relative;
}

.xa-isloading:after {
  -webkit-animation: spinAround 0.5s infinite linear;
  animation: spinAround 0.5s infinite linear;
  border: 2px solid$color-green;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  top: 50%;
  position: absolute !important;
  transform-origin: 50% 50%;
}

@keyframes spinAround {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes spinAround {
  0% {
    -webkit-transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.xa-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.xa-switch {
  position: relative;
  height: 23px;
  width: 40px;
  background-color: #dfdfdf;
  border: 1px solid #dfdfdf;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  transition: background-color 0.1s, border 0.1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked {
    background-color: $color-red;
    border-color: $color-red;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: #fdfdfd;
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1),
      -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  }

  &:checked:before {
    transform: scale(0);
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35),
      -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  }

  &:checked:after {
    transform: translateX(17px);
  }
}

.xa-cell-box {
  padding: 10px 15px;
  position: relative;
  display: flex;
  align-items: center;
}

.xa-cells-box {
  background-color: #ffffff;
  line-height: 1.47058824;
  font-size: 17px;
  overflow: hidden;
  position: relative;
}

.xa-cells-box:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}

.xa-cells-box:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  z-index: 2;
}

.xa-btn {
  position: relative;
  display: block;
  width: 100%;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  line-height: 2.55555556;
  color: #fff;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  &--mini {
    font-size: 14px;
    line-height: 2.5714;
  }
  &::after {
    content: ' ';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
  }
}

.xa-label {
  display: block;
  width: 105px;
  word-wrap: break-word;
  word-break: break-all;
  color: #999;
}

.xa-input {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.47058824em;
  line-height: 1.47058824;
}

.xa-textarea {
  display: block;
  border: 0;
  resize: none;
  width: 100%;
  color: inherit;
  font-size: 14px;
  line-height: inherit;
  outline: 0;
}

#app .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

#app .swiper-pagination-bullet-active {
  position: relative;
  background-color: #fff;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-color: #000;
    border-radius: 50%;
  }
}
